<h1>{{fullLocation}}</h1>

{{city.name}}'s Details

Country: {{city.country}}

Rentals available in {{city.name}}:

<ul>
  {{#each sortedRentals as |rental|}}
    <li>{{#link-to 'rental' rental.id}}{{rental.owner}}'s {{rental.type}}, ${{rental.cost}}{{/link-to}}</li>
  {{/each}}
</ul>

<button {{action 'destroyCity' city}}>Delete</button>
