<li>
  {{#link-to 'rental' rental.id}}{{rental.owner}}'s {{rental.type}} in {{rental.city}} {{/link-to}}
  {{#if isImageShowing}}
    <p><img src={{rental.image}} ald={{rental.type}} {{action 'imageHIde'}}></p>
  {{else}}
    <button {{action 'imageShow'}}>Show Image</button>
  {{/if}}
</li>
